<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>发布文章</title>
    <link rel="stylesheet" type="text/css" href="/css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="/css/demo.css"/>
    <!--必要样式-->
    <link rel="stylesheet" type="text/css" href="/css/component.css"/>
    <!--[if IE]>
    <script src="/js/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="container demo-1">
    <%- include('inc/header.html')%>
    <div class="content">
        <div id="large-header" class="large-header">
            <canvas id="demo-canvas"></canvas>
            <div class="logo_box">
                <h3>发布博文</h3>
                <form id="post-form" action="/post/create" name="f" method="post">
                    <div class="input_outer">
                        <input name="title" class="text" style="color: #FFFFFF !important" type="text"
                               placeholder="文章标题">
                    </div>
                    <div class="input_outer">

                        <input name="content" class="text"
                               style="color: #FFFFFF !important; position:absolute; z-index:100;" value=""
                               type="text" placeholder="文章内容">
                    </div>
                    <% if(success){%>
                    <div style="color:forestgreen">
                        <%= success%>
                    </div>
                    <%}%>
                    <% if(error){%>
                    <div style="color:red">
                        <%= error%>
                    </div>
                    <%}%>
                    <div class="mb2"><a class="act-but submit" href="javascript:;" style="color: #FFFFFF">发布文章</a></div>
                </form>
            </div>
        </div>
    </div>
</div><!-- /container -->
<script src="/js/TweenLite.min.js"></script>
<script src="/js/EasePack.min.js"></script>
<script src="/js/rAF.js"></script>
<script src="/js/demo-1.js"></script>
<script src="/js/jquery-3.2.1.js"></script>
<div style="text-align:center;">
</div>
</body>
<script>
    $(function () {
        $("a.submit").click(function () {
            $("#post-form").submit();
        })
    })
</script>
</html>